<ul>
  <li><b>Sensitive Data Exposure:</b> plain text vs. bcrypt password</li>
  <li><b>Stored XSS:</b> siguran (escaped) vs. ranjiv (raw HTML)</li>
</ul>

<p>Trenutne postavke:</p>
<ul>
  <li>Sigurna lozinka: <b><%= sensitiveProtection ? 'ON' : 'OFF (plain text)' %></b></li>
  <li>Stored XSS: <b><%= storedXss ? 'RANJIV' : 'SIGURAN' %></b></li>
</ul>
