<form method="post" action="/register">
  <p><label>Username: <input name="username" required></label></p>
  <p><label>Password: <input type="password" name="password" required></label></p>
  <p><button type="submit">Registriraj se</button></p>
</form>
